*.cpp linguist-detectable=false
*.cmake linguist-detectable=false
*.cc linguist-detectable=false
*.h linguist-detectable=false
*.rc linguist-detectable=false
*.ico linguist-detectable=false
*.manifest linguist-detectable=false
*.dart linguist-detectable=true
